<div class='container' *ngIf="delete">
  <h1 mat-dialog-title
    style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
    Are you sure you want to delete {{data.title}} ? </h1>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">No</button>
    <button mat-button class='create_button' (click)="deleteArticle()" cdkFocusInitial>Yes</button>
  </div>
</div>

<div id="formFieldOptions" hidden>
  <tr id="year">
    <th>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input [(ngModel)]="articleToCreate.year" #year matInput>
      </mat-form-field>
    </th>
    <td>
      <button (click)="removeFormField('year'); articleToCreate.year = undefined"
        style="border: none;cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="abstract" style="width: 100%;">
    <td>
      <mat-form-field>
        <mat-label>Abstract</mat-label>
        <textarea [(ngModel)]="articleToCreate.abstract" #abstract matInput></textarea>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('abstract'); articleToCreate.abstract=undefined"
        style="border: none; cursor: pointer;background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="author">
    <td>
      <mat-form-field>
        <mat-label>Author</mat-label>
        <input [(ngModel)]="articleToCreate.author" #author placeholder="Example: author1, author2" matInput>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('author'); articleToCreate.author=undefined"
        style="border: none;cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="tags">
    <td>
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <input [(ngModel)]="articleToCreate.tags" #tags placeholder="Example: tag1, tag2" matInput>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('tags'); articleToCreate.tags= undefined"
        style="border: none;cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="citation_key">
    <td>
      <mat-form-field>
        <mat-label>Citation Key</mat-label>
        <input [(ngModel)]="articleToCreate.citation_key" #citation_key matInput>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('citation_key'); articleToCreate.citation_key=undefined"
        style="border: none;cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="edition">
    <td>
      <mat-form-field>
        <mat-label>Edition</mat-label>
        <input [(ngModel)]="articleToCreate.edition" #edition matInput>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('edition'); articleToCreate.edition= undefined"
        style="border: none;cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="doi">
    <td>
      <mat-form-field>
        <mat-label>DOI</mat-label>
        <input [(ngModel)]="articleToCreate.doi" #doi matInput>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('doi'); articleToCreate.doi = undefined"
        style="border: none;cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>
  <tr id="isbn">
    <td>
      <mat-form-field>
        <mat-label>ISBN</mat-label>
        <input [(ngModel)]="articleToCreate.isbn" #isbn matInput>
      </mat-form-field>
    </td>
    <td>
      <button (click)="removeFormField('isbn'); articleToCreate.isbn = undefined"
        style="border: none; cursor: pointer; background-color: transparent;"><span style="color: red;"
          class="material-icons">
          delete
        </span>
      </button>
    </td>
  </tr>

</div>

<div class='container' *ngIf="create">
  <div mat-dialog-title style="display: flex; justify-content: space-between; height: 100px;">
    <h1
      style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
      New Article </h1>
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedOption" placeholder="Add label">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button style="outline: none;" (click)="addFormField()"><span class="material-icons"
          style="background-color: transparent; color: green;">add</span></button>
    </div>
  </div>
  <div id="mat-content" mat-dialog-content>
    <table style="width: 100%; height: 100%;">
      <tr id="dropdownButton">
      </tr>
      <tr>
        <th style="text-align: left;">
          <mat-form-field style="width: 100%; justify-content: left;">
            <mat-label>Title</mat-label>
            <input [(ngModel)]="articleToCreate.title" matInput required>
          </mat-form-field>
        </th>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">Cancel</button>
    <button mat-button class='create_button' (click)="createArticle()" cdkFocusInitial>Create Article</button>
  </div>
</div>

<div class='container' *ngIf="edit">
  <h1 mat-dialog-title
    style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
    Edit Article </h1>
  <div id="mat-content" mat-dialog-content>
    <table style="width: 100%; height: 100%;">
      <tr>
        <mat-form-field style="width: 100%; justify-content: left;">
          <mat-label>Title</mat-label>
          <input [(ngModel)]="articleToEdit.title" matInput required>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field style="width: 100%; justify-content: left;">
          <mat-label>Abstract</mat-label>
          <textarea [(ngModel)]="articleToEdit.abstract" matInput></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Year</mat-label>
          <input [(ngModel)]="articleToEdit.year" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input [(ngModel)]="articleToEdit.author" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>DOI</mat-label>
          <input [(ngModel)]="articleToEdit.doi" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>ISBN</mat-label>
          <input [(ngModel)]="articleToEdit.isbn" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Citation Key</mat-label>
          <input [(ngModel)]="articleToEdit.citation_key" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Edition</mat-label>
          <input [(ngModel)]="articleToEdit.edition" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Tags</mat-label>
          <input [(ngModel)]="articleToEdit.tags" matInput>
        </mat-form-field>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">Cancel</button>
    <button mat-button class='create_button' (click)="editArticle()" cdkFocusInitial>Edit Article</button>
  </div>
</div>

<div class="container" *ngIf="deleteRelation">
  <h1 mat-dialog-title
    style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
    Are you sure you want to remove this relation? </h1>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">No</button>
    <button mat-button class='create_button' (click)="deleteRelationFromArticle()" cdkFocusInitial>Yes</button>
  </div>
</div>

<div class="container" *ngIf="createComment">
  <div mat-dialog-title>
    <h1
      style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
      New Comment </h1>
  </div>
  <div id="mat-content" mat-dialog-content>
    <mat-form-field style="width: 100%;">
      <textarea matInput [(ngModel)]="commentary" style="width: 100%;"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">Cancel</button>
    <button mat-button class='create_button' (click)="createNewComment()" cdkFocusInitial>Create</button>
  </div>
</div>

<div class="container" *ngIf="deleteCommentary">
  <h1 mat-dialog-title
    style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
    Are you sure you want to delete this comment? </h1>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">No</button>
    <button mat-button class='create_button' (click)="deleteComment()" cdkFocusInitial>Yes</button>
  </div>
</div>

<div class="container" *ngIf="deleteFile">
  <h1 mat-dialog-title
    style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 25px;">
    Are you sure you want to delete this file? </h1>
  <div mat-dialog-actions class='mat-dialog-actions'>
    <button mat-button class='cancel_button' (click)="onNoClick()">No</button>
    <button mat-button class='create_button' (click)="deleteFileName()" cdkFocusInitial>Yes</button>
  </div>
</div>