<div *ngIf="userProfile" class="user-profile">
    <div *ngIf="userProfile.photo.original" style="width: auto; display: contents;">
        <img [src]="userProfile.photo.original" style="border-radius: 50%;  height: 100%; width: auto; ">
    </div>
    <div *ngIf="!userProfile.photo.original" style="width: auto; display: contents;">
        <img [src]="userProfile.photo.standard" style="border-radius: 50%;  height: 100%; width: auto; ">
    </div>

    <div style="padding:10px;">
        <h2>{{userProfile.display_name}}</h2>
        <p>{{userProfile.email}}</p>
        <p>{{userProfile.academic_status}}</p>
    </div>
</div>
<div class="main-content" *ngIf="isAuthenticated">
    <div class="content-articles">
        <h3>Find your article and add it to an existing project!</h3>
        <button style="align-items: center; display: flex; cursor: pointer;"
            (click)="getAllDocuments(); openAllDocuments(); selectedArticle = false;" class="button_mendeley">All
            Documents <span>
                <mat-icon _ngcontent-obp-c6 aria-hidden="true" style="color: white; margin-left: 10px;">
                    keyboard_arrow_down</mat-icon>
            </span></button>
        <div *ngIf="isAllDocuments">
            <mat-selection-list [(ngModel)]="optionSelected" [multiple]="false" style="margin-left: 10px;">
                <mat-list-option *ngFor="let document of allDocuments" [value]="document"
                    (click)="selectedArticle = true;">
                    {{document.title}}
                </mat-list-option>
            </mat-selection-list>
        </div>

        <button style="align-items: center; display: flex; margin-top: 5px; cursor: pointer;"
            (click)="getMyGroups(); openGroups(); optionSelected=''; selectedArticle = false;"
            class="button_mendeley">Groups <span>
                <mat-icon _ngcontent-obp-c6 aria-hidden="true" style="color: white; margin-left: 10px;">
                    keyboard_arrow_down</mat-icon>
            </span></button>
        <div *ngIf="isGroups">
            <div *ngFor="let group of myGroups">
                <button class="button_mendeley" style="margin-left: 10px; margin-top: 2px; cursor: pointer;"
                    (click)="getAllDocumentsByGroupID(group.id); groupDocuments = []; selectedArticle = false; ">{{group.name}}
                    <span>
                        <mat-icon _ngcontent-obp-c6 aria-hidden="true" style="color: white; margin-left: 10px;">
                            keyboard_arrow_down</mat-icon>
                    </span></button>
            </div>

            <mat-selection-list [(ngModel)]="optionSelected" [multiple]="false">
                <mat-list-option  class="list-option" style="width: 100%; margin-left: 10px;" *ngFor="let doc of groupDocuments"
                    [value]="doc" (click)="selectedArticle = true;">
                    {{doc.title}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div style="display: flex; justify-content: flex-end; width:100%; margin-top: 5px;" *ngIf="selectedArticle">
            <button class="button_mendeley" style="cursor: pointer;" (click)="selectProject()">Select Project</button>
        </div>
    </div>
    <div class="content-projects" *ngIf="isSelectedToAdd">
        <div style="display: flex;">
            <h3
                style="background-color: darkslategray; color: white; width: 100%;  padding-top: 10px;padding-bottom: 10px; padding-left: 10px;">
                My Projects</h3>
        </div>
        <div>
            <mat-selection-list [(ngModel)]="projectSelected" [multiple]="false">
                <mat-list-option style="width: 100%;" *ngFor="let project of myProjects" [value]="project.project_id">
                    {{project.project_name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div style="display: flex; justify-content: flex-end; width:100%; margin-top: 5px;" *ngIf="projectSelected">
            <button class="button_mendeley" style="cursor: pointer;" (click)="addArticleToProject()">Add to
                Project</button>
        </div>
    </div>
</div>
<div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
    <mat-spinner *ngIf="!isAuthenticated"></mat-spinner>
</div>