<div style="width: 100%; height: 100%;" *ngIf="isAuthenticated">
    <div class="row1">
        <div class="row1-user-profile">
            <div *ngIf="userProfile.photo.original" style="width: auto; display: contents;">
                <img [src]="userProfile.photo.original" style="border-radius: 50%;  height: 80%; width: auto; ">
            </div>
            <div *ngIf="!userProfile.photo.original" style="width: auto; display: contents;">
                <img [src]="userProfile.photo.standard" style="border-radius: 50%;  height: 80%; width: auto; ">
            </div>

            <div style="padding:10px;">
                <h2>{{userProfile.display_name}}</h2>
                <p>{{userProfile.email}}</p>
                <p>{{userProfile.academic_status}}</p>
            </div>
        </div>
        <div style="display: flex; align-items: flex-end; width: 50%; margin-right: 6%; justify-content: flex-end; ">
            <button class="tabs-buttons" (click)="setDocuments()">All Documents</button>
            <button class="tabs-buttons" (click)="setGroups()">My Groups</button>
        </div>
    </div>
    <div style="height: 70%;" class="row2">
        <div class="column1" *ngIf="itsDocuments">
            <div class="column1-table-documents">
                <table mat-table [dataSource]="documentSource" class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef style="width: 10%; padding: 10px;">
                            <mat-checkbox [checked]="selectedDocument.hasValue() && isAllSelected()"
                                [indeterminate]="selectedDocument.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" style="width: 10%; padding: 10px;">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectedDocument.toggle(row) : null"
                                [checked]="selectedDocument.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef style="width: 90%; font-size: 15px;"> Document Title </th>
                        <td mat-cell *matCellDef="let element" style="width: 90%;"> {{element.title}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedArticleColumns" style="position: sticky;">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedArticleColumns;"
                        (click)="selectedDocument.toggle(row)">
                    </tr>
                </table>
            </div>
        </div>
        <div class="column1" *ngIf="itsGroups">
            <div class="column1-table-documents">
                <table mat-table [dataSource]="groupSource" class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef style="width: 90%; font-size: 15px;"> Group Name </th>
                        <td mat-cell *matCellDef="let element" style="width: 90%;"> {{element.name}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedGroups" style="position: sticky;">
                    </tr>
                    <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedGroups;"
                        (click)="getAllDocumentsByGroupID(row.id)">
                    </tr>
                </table>
            </div>
            <!--Duas tables-->
        </div>
        <div class="column2">
            <button class="addToProject" (click)="addArticleToProject()">Add to Project</button>
        </div>
        <div class="column3">
            <div class="column1-table-projects" *ngIf="itsProjects">
                <table mat-table [dataSource]="projectSource" class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef style="width: 10%; padding: 10px;">
                            <mat-checkbox [checked]="selectedProject.hasValue() && isAllSelectedProject()"
                                [indeterminate]="selectedProject.hasValue() && !isAllSelectedProject()"
                                [aria-label]="checkboxLabelProject()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" style="width: 10%; padding: 10px;">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selectedProject.toggle(row) : null"
                                [checked]="selectedProject.isSelected(row)" [aria-label]="checkboxLabelProject(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef style="width: 90%; font-size: 15px;"> Project Name </th>
                        <td mat-cell *matCellDef="let element" style="width: 90%;"> {{element.project_name}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedArticleColumns" style="position: sticky;">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedArticleColumns;"
                        (click)="selectedProject.toggle(row)">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
    <mat-spinner *ngIf="!isAuthenticated"></mat-spinner>
</div>