<div class="mainContent">
    <div class="row1">
        <div style=" align-items: center; width: 10%; justify-content: space-between;">
            <span class="material-icons" title="Go back" style="cursor: pointer;"
                [routerLink]="'/projectHome/' + project_id ">
                arrow_back_ios
            </span>
        </div>
        <div class="tabs-design">
            <div class="tabs-design-space">
                <span style="font-size: 20px;"><b>{{article.title}}</b></span>
            </div>
            <div class="tabs-design-buttons">
                <button style="background-color: none;" class="tabs-buttons" (click)="setTabAbout()">About</button>
                <button style="background-color: none;" class="tabs-buttons" (click)="setTabRelatedArticles()">Related
                    Articles</button>
                <button style="background-color: none;" class="tabs-buttons" (click)="setTabFiles()">Attached
                    files</button>
                <button id="tabVisualization" style="background-color: none;" class="tabs-buttons"
                    (click)="setTabVisualize()">Visualize</button>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="row2-main-content">
            <div class="about-content" *ngIf="tabAbout">
                <div class="column1">
                    <div class="about-info">
                        <div class="margin-top-div"></div>
                        <mat-divider></mat-divider>
                        <mat-accordion>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888;">
                                    <mat-panel-title style="color: black;">
                                        Title
                                    </mat-panel-title>
                                    {{article.title}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title>
                                        Abstract
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p> {{article.abstract}} </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black; ">
                                        Year
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.year}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black; ">
                                        DOI
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.doi}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black;">
                                        ISBN
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.isbn}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black;">
                                        Authors
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.author}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black;">
                                        Edition
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                {{article.edition}}
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black;">
                                        Tags
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.tags}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888; ">
                                    <mat-panel-title style="color: black;">
                                        Citation key
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.citation_key}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel disabled style="padding-top: 5px;">
                                <mat-expansion-panel-header style="color: #888888;">
                                    <mat-panel-title style="color: black;">
                                        Created At
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                    {{article.createdAt}}
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div></div>
                </div>
                <div class="middleColumn"></div>
                <div class="column2">
                    <div
                        style="width: 100%; height: 10%;display: flex; justify-content: space-between; margin-top: 1%;align-items: center;">
                        <div style="margin-left:10px"> <span>Comments:</span></div>
                        <div style="margin-right: 7%;"> <button class="button-comment" (click)="createNewComment()"
                                style="cursor: pointer;">+ New
                                Comment</button></div>
                    </div>
                    <div class="comment-container">
                        <div style="width: auto; margin-left: 1%; margin-right: 2%; margin-bottom: 1%; height: auto;">
                            <mat-card *ngFor="let comment of comments" style="margin: 5px;">
                                <mat-card-content>
                                    <span>{{comment.createdAt}}</span>
                                    <p>{{comment.commentary}}</p>
                                    <div style="text-align: right;">
                                        <mat-icon class="project_buttons" (click)="deleteComment(comment)"
                                            style=" color: red; cursor: pointer;" aria-hidden="true">delete
                                        </mat-icon>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card *ngIf="comments.length ==0" style="margin: 5px;">
                                <span>0 comments created</span>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div id="viz" class="viz" *ngIf="tabVisualize"
                style="width: 100%; height: 100%; outline: none; min-height: 300px;"></div>
            <div class="table-container" *ngIf="tabRelatedArticles">
                <div *ngIf="!isloaded" class="spinner">
                    <mat-spinner></mat-spinner>
                </div>
                <table *ngIf="isloaded" class="mat-elevation-z8" mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Title</th>
                        <td mat-cell style="text-align: left; " *matCellDef="let element"
                            (click)="openArticle(element)">
                            {{element.article.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="relationName">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Relation Type </th>
                        <td mat-cell style="text-align: center;" *matCellDef="let element"
                            (click)="openArticle(element)">
                            {{element.relationName}} </td>
                    </ng-container>


                    <ng-container matColumnDef="buttons">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="table_buttons">
                                <mat-icon class="project_buttons" (click)="deleteRelation(element)"
                                    style=" color: red; cursor: pointer;" aria-hidden="true">delete
                                </mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <div class="table-header">
                        <tr mat-header-row style="background-color: #dedede;height: 100px;  "
                            *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    </div>
                    <div class="table-content">
                        <tr mat-row style="max-height: 75px; cursor: pointer;" title="Click to open article"
                            *matRowDef="let row; columns: displayedColumns;" class="table-row">
                        </tr>
                    </div>
                </table>
            </div>
            <div class="table-container" *ngIf="tabFiles">
                <div *ngIf="!isloaded" class="spinner">
                    <mat-spinner></mat-spinner>
                </div>
                <table *ngIf="isloaded" class="mat-elevation-z8" mat-table [dataSource]="fileSource">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> File Name</th>
                        <td mat-cell style="text-align: left; " *matCellDef="let element">
                            {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="download">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Download </th>
                        <td mat-cell style="text-align: center; cursor: pointer;" *matCellDef="let element"
                            (click)="downloadFile(element.name)">
                            <mat-icon>save_alt</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="options">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> </th>
                        <td mat-cell style="text-align: right;" *matCellDef="let element"
                            (click)="removeFileFromArticle(element.name)">
                            <mat-icon class="project_buttons" 
                                style=" color: red; cursor: pointer;" aria-hidden="true">delete
                            </mat-icon>
                        </td>
                    </ng-container>
                    <div class="table-header">
                        <tr mat-header-row style="background-color: #dedede;height: 100px;  "
                            *matHeaderRowDef="displayedFiles; sticky: true"></tr>
                    </div>
                    <div class="table-content">
                        <tr mat-row style="max-height: 75px; "
                            *matRowDef="let row; columns: displayedFiles;" class="table-row">
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>