<body>
    <div class="sidenav">
        <div class="sidenav_bar">
            <div class="align_project_button">
                <div style="align-items: center; height: auto; width: 100%;">
                    <div routerLink="/files" class="div_sidenav_box">
                        <mat-icon style="margin-right: 20px;"> attach_file</mat-icon>
                        <h3>Files</h3>
                    </div>
                    <div routerLink="/mendeley" class="div_sidenav_box">
                        <img _ngcontent-obp-c6 src="https://static.mendeley.com/weblet-awareness/images/logo.svg"
                            style="height: 24px; width: 24px; margin-right: 20px;" alt="Mendeley">
                        <h3 class="item_sidenav_box">Mendeley</h3>
                    </div>

                    <div routerLink="/home" class="div_sidenav_box">
                        <mat-icon class="item_sidenav_box" _ngcontent-obp-c6 style="margin-right: 20px; "
                            aria-hidden="true">
                            folder</mat-icon>
                        <h3 class="item_sidenav_box">Projects</h3>
                    </div>
                </div>
            </div>
            <div mat-button class="sidebar-footer" [matMenuTriggerFor]="aboveMenu">
                <mat-menu #aboveMenu="matMenu" yPosition="above">
                    <button style="text-align: center;" (click)="logout()" mat-menu-item>Logout<mat-icon
                            _ngcontent-obp-c6 style="margin-right: 10px; color: black;" aria-hidden="true">exit_to_app
                        </mat-icon></button>
                    <button style="text-align: center;" mat-menu-item>Perfil<mat-icon _ngcontent-obp-c6
                            style="margin-right: 10px; color: black;" aria-hidden="true">person</mat-icon></button>
                </mat-menu>
                <div class="user_footer_box">
                    <mat-icon _ngcontent-obp-c6 style="margin-right: 10px; color: white;" aria-hidden="true">person
                    </mat-icon>
                    <h3 class="user_footer">{{username}} </h3>
                    <mat-icon _ngcontent-obp-c6 aria-hidden="true" style="color: white; margin-left: 10px;">
                        keyboard_arrow_up</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</body>